.shopBtn {
  width: 6rem;
  background-color: #0a507c;
  border: none;
  color: white;
  border-radius: 5rem;
  height: 2rem;
  font-size: 0.9rem;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
  line-height: 1px;
}

.btntext {
  color: white;
}

a {
  color: aliceblue;
  text-decoration: none;
}
