.VideoComp {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: scroll;
  max-width: 28.125rem;
  /* max-width: 100%; */
  height: 42rem;
  top: -5%;
  /* scroll-snap-type: y mandatory; */
}

.video {
  width: 25rem;

  height: 31.375rem;
  object-fit: cover;
}

.VideoComp::-webkit-scrollbar {
  display: none;
}

.playPauseSvg {
  position: absolute;
  width: 3.125rem;
  fill: #fff;
  opacity: 0.9;
  margin-top: -2rem;
}

h2 {
  position: absolute;
  margin-top: -7rem;
  margin-left: -5rem;
  color: white;
  font-weight: bold;
}

.videocards {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  width: 25rem;
  margin-top: -10rem;
}

.videocards::-webkit-scrollbar {
  display: none;
}

/* @media only screen and (max-width: 445px) {
  .VideoComp {
    margin-left: 1.3rem;
  }
  .video {
    width: 410px;
  }
  
} */
