.VideoComp {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: scroll;
  max-width: 400px;
  height: 43rem;
  top: -5%;
  scroll-snap-type: y mandatory;
}
.video {
  /* width: 100%; */
  width: 400px;
  height: 500px;
  object-fit: cover;
  /* -ms-overflow-style: none;
  scrollbar-width: none; */
}

.VideoComp::-webkit-scrollbar {
  display: none;
}

.playPauseSvg {
  position: absolute;
  width: 50px;
  fill: #fff;
  margin-top: -2rem;
}

h2 {
  position: absolute;
  margin-top: -7rem;
  margin-left: -5rem;
  color: white;
  font-weight: bold;
}

.videocards {
  display: flex;
  flex-direction: row;
  /* overflow: scroll; */
  margin-top: -10rem;
}

/* .videocards::-webkit-scrollbar {
  display: none;
} */
