.offer {
  position: absolute;
  left: 1%;
  width: 9rem;
  font: Poppins;
  text-align: center;
  font-weight: 400;
  color: #ffffff;
  background-color: #e91e63;
  border-radius: 4px;
  padding: 0.125rem 0.5rem 0.125rem 0.5rem;
  top: 2rem;
}
.offerImg {
  margin-right: 0.3125rem;
}

@media only screen and (max-width: 445px) {
  .offer {
    left: 6%;
  }
}
