.BannerVideoCard {
  bottom: 13%;
  background-color: #f4f8f0;
  display: flex;
  flex-direction: row;
  color: #333333;
  align-items: center;
  left: 10%;
  width: 21rem;
  height: 5rem;
  border-radius: 0.5rem;
  margin-left: 1.8rem;
}
.dressName {
  margin-left: -0.125rem;
}
.videoCardImage {
  margin-top: 0.4375rem;
  width: 4rem;
  margin-left: 0.3125rem;
}
.text {
  text-align: left;
  line-height: 0;
  margin-left: 0.3125rem;
}
.shop-flex {
  display: flex;
  flex-direction: row;

  align-items: center;
}

.cardBtn {
  cursor: pointer;
  margin-left: 1px;
}

.originalPrice {
  text-decoration-line: line-through;
  color: #999999;
  padding-left: 0.3125rem;
  padding-right: 0.3125rem;
  font-size: 0.8125rem;
}

.discount {
  color: #ee4d4d;
  font-size: 0.75rem;
}

.BannerVideoCard2 {
  margin-left: -2rem;
}
