.Favourites {
  position: relative;

  font: "Poppins";
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 400px;
  min-height: 55rem;
  z-index: 200;
}

.para {
  color: #666666;

  margin-left: 1rem;
  margin-top: -10px;
  font-size: 10px;
  line-height: 0.5px;
  font-family: Poppins;
  font: "Poppins";
}
.gallery {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.column {
  margin-left: 2rem;
}
.btnDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.favouritBtn {
  width: 15rem;
  height: 2rem;
  padding: 1rem;
  line-height: 3px;
  border-radius: 1rem;
  background-color: #ffffff;
  color: black;
  font: "Poppins";
  font-weight: 600;
  border: 1px solid black;
  cursor: pointer;
}
