.Header {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 8vh;
  font: "Poppins";
  font-size: 0.8rem;
  max-width: 450px;
}
.blueTick {
  margin-top: 0.5rem;
}
.profileImage {
  margin-top: 0.5rem;
  margin-right: -1rem;
}

.search {
  margin-top: 10px;
  margin-left: 2rem;
}
