.ProductsCard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-color: #f2f2f2;
  height: 20rem;
  width: 100%;
  /* border: 1px solid black; */
}
.productImg {
  height: 10rem;
  width: 10rem;
  border-width: 0.0625rem 0.0625rem 0rem 0.0625rem;
  border-style: solid;
  border-color: #f2f2f2;
  margin: 1rem;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}

.productDiscrp {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  background: #ffffff;
  margin-top: -1rem;
  border: 1px solid #f2f2f2;
  line-height: 0.125rem;
  width: 10rem;
  border-radius: 0px 0px 0.5rem 0.5rem;
}

.brandName {
  font-size: 0.875rem;
  font-weight: 600;
  margin-left: 1rem;
}
.productName {
  margin-top: -0.125rem;
  margin-left: 1rem;
  font: " Poppins";
  font-weight: 400;
  font-size: 0.8125rem;
}
.rateAndDiscount {
  margin-top: -0.5rem;
  display: flex;
}
.mrp {
  text-decoration-line: line-through;
  color: #999999;
  margin-left: 1rem;

  padding-right: 0.3125rem;
  font-size: 0.8125rem;
}
.productDiscount {
  color: #dd5f2d;
  font-size: 0.8125rem;
}

.newprice {
  padding-top: 0.3125rem;
  margin-left: 1.3rem;
  margin-top: 0.0625rem;
  font-weight: bold;
}

.productButton {
  margin-left: 2rem;
  margin-bottom: 1rem;
}
