.TaggedProducts {
  /* margin-top: -5px; */
  position: relative;
  display: flex;
  flex-direction: column;
  color: #333333;
  margin-top: 31rem;
  border-radius: 1rem;
  background-color: white;
  width: 100%;
  min-height: 28rem;
  z-index: 100;
}

.products {
  display: flex;
  justify-content: space-between;
}

h3 {
  margin-left: 1rem;
}
