body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font: "Poppins";
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
}
html {
  font-size: 16px;
}
.App {
  max-width: 28.125rem;
  /* width: 100%; */
  /* border: 1px solid blue; */
  /* margin-left: 1rem; */
}
/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,600&display=swap"); */

@media screen and (min-width: 250px) and (max-width: 320px) {
  html {
    font-size: 9.9px;
  }
  .TaggedProducts {
    position: relative;
    top: -2rem;
  }
  .BannerVideoCard {
    height: 3rem;
  }
  .CompleteMyLookComp {
    position: relative;
    top: -2rem;
  }
  .Favourites {
    position: relative;
    top: -2rem;
  }
  .video {
    /* width: 25rem; */
    position: relative;
    top: 1rem;
  }
  .Whatsapp {
    margin-left: -35rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 375px) {
  html {
    font-size: 12.6px;
  }
  .TaggedProducts {
    position: relative;
    top: -1rem;
  }
  .CompleteMyLookComp {
    position: relative;
    top: -1rem;
  }
  .Favourites {
    position: relative;
    top: -1.5rem;
  }
  .Whatsapp {
    margin-left: -33rem;
  }
  .BannerVideoCard2 {
    margin-left: -2rem;
  }
}
@media screen and (min-width: 375px) and (max-width: 425px) {
  html {
    font-size: 13.6px;
  }
  .TaggedProducts {
    position: relative;
    top: -1rem;
  }
  .CompleteMyLookComp {
    position: relative;
    top: -1rem;
  }
  .Favourites {
    position: relative;
    top: -1.5rem;
  }
  /* .Whatsapp {
    margin-bottom: 10rem;
    margin-left: -9rem;
  } */
  .BannerVideoCard2 {
    margin-left: -2rem;
  }
}
@media screen and (min-width: 425px) and (max-width: 768px) {
  html {
    font-size: 15.6px;
  }
  .TaggedProducts {
    position: relative;
    top: -1.3rem;
  }
  .CompleteMyLookComp {
    position: relative;
    top: -1.2rem;
  }
  .Favourites {
    position: relative;
    top: -1.5rem;
  }
  .Whatsapp {
    margin-left: -23rem;
  }
}
